<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            body {background-color: lightblue;
                  color: black;}
            #blog_title {color: black;
                font-style: bold, italic;}
            .body_margin {margin-left: 3%;
            }
            a:hover {color: goldenrod;}
            .error {
                color: red;
                font-style: italic;
                font-size: 32px;
            }
            .body_area {
                
            }
        </style>
    </head>
<body>
    <a href='/blog'>Main Page</a> 
    <br>
    <a href='/new_post'>Create a Post</a>

   {% with messages = get_flashed_messages() %}
    <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endwith %}
   
    {% block content %}
    {% endblock %}

</body>
</html>